# Data cleaning & preprocessing

### Dataset information
This is a transactional data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.

This data is downloaded from https://archive.ics.uci.edu/dataset/502/online+retail+ii , below is citation.

Chen, D. (2012). Online Retail II [Dataset]. UCI Machine Learning Repository. https://doi.org/10.24432/C5CG6D.

#### Features information

| Variable Name | Role | Type | Description |
|---|---|---|---|
| InvoiceNo | ID | Categorical | a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation |
| StockCode | ID | Categorical | a 5-digit integral number uniquely assigned to each distinct product |
| Description | Feature | Categorical | product name |
| Quantity | Feature | Integer | the quantities of each product (item) per transaction |
| InvoiceDate | Feature | Date | the day and time when each transaction was generated |
| UnitPrice | Feature | Continuous | product price per unit in sterling |
| CustomerID | Feature | Categorical | a 5-digit integral number uniquely assigned to each customer |
| Country | Feature | Categorical | the name of the country where each customer resides |

**Run below cell to download the dataset**

In [1]:
! curl -o ../data/online_retail_ii.zip https://archive.ics.uci.edu/static/public/502/online+retail+ii.zip && unzip -o ../data/online_retail_ii.zip -d ../data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 77749    0 77749    0     0  48145      0 --:--:--  0:00:01 --:--:-- 48171
100  887k    0  887k    0     0   309k      0 --:--:--  0:00:02 --:--:--  309k
100 4459k    0 4459k    0     0  1233k      0 --:--:--  0:00:03 --:--:-- 1234k
100 10.8M    0 10.8M    0     0  2404k      0 --:--:--  0:00:04 --:--:-- 2405k
100 18.1M    0 18.1M    0     0  3318k      0 --:--:--  0:00:05 --:--:-- 3764k
100 26.0M    0 26.0M    0     0  4036k      0 --:--:--  0:00:06 --:--:-- 5324k
100 32.1M    0 32.1M    0     0  4318k      0 --:--:--  0:00:07 --:--:-- 6742k
100 39.4M    0 39.4M    0     0  4685k      0 --:--:--  0:00:08 --:--:-- 7180k
100 43.5M    0 43.5M    0     0  4878k      0 --:--:--  0:00:09 --:--:-- 7405k
'unzip' is not recognized as an internal or external command,
operable program or batch file.

#### Libraries used

In [4]:
# imports
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import os

#### Constants

In [5]:
# const
DATA_DIR = os.path.abspath("../data")
DATA_PATH = os.path.join(DATA_DIR, "raw", "online_retail_II.xlsx")

### Loading & understanding data

In [6]:
# CONST
data = pd.read_excel(os.path.join(DATA_DIR, "raw", "online_retail_II.xlsx"), sheet_name="Year 2009-2010")
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [7]:
data2 = pd.read_excel(os.path.join(DATA_DIR, "raw", "online_retail_II.xlsx"), sheet_name="Year 2010-2011")
data2.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
df = pd.concat([data, data2], ignore_index=True)

print("Sheet 1 data shape --->", data.shape)
print("Sheet 2 data shape --->", data2.shape)
print("Merged data shape --->", df.shape)

df.head()

Sheet 1 data shape ---> (525461, 8)
Sheet 2 data shape ---> (541910, 8)
Merged data shape ---> (1067371, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [11]:
# data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [41]:
# check for nan values
df.isna().sum()

invoice        0
stockcode      0
description    0
quantity       0
invoicedate    0
price          0
customer_id    0
country        0
dtype: int64

In [49]:
# corrections
cols_name = [item.replace(" ", "_") for item in df.columns.str.lower().to_list()]
df.columns = cols_name

# remove duplicaate records
df.drop_duplicates(inplace=True)

# droping null customer_id since these are misleading information
df.dropna(subset=['customer_id'], inplace=True)

# customer_id should be nominal
df['customer_id'] = df['customer_id'].astype("int").astype("object")

In [50]:
df.head()

,invoice,stockcode,description,quantity,invoicedate,price,customer_id,country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 797885 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice      797885 non-null  object
 1   stockcode    797885 non-null  object
 2   description  797885 non-null  object
 3   quantity     797885 non-null  int64
 4   invoicedate  797885 non-null  datetime64[ns]
 5   price        797885 non-null  float64
 6   customer_id  797885 non-null  object
 7   country      797885 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 54.8+ MB

In [52]:
# saving data
df.to_csv(os.path.join(DATA_DIR, "cleaned", "online_retail.csv"))