# Data cleaning & preprocessing

In [1]:
# imports
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import os

In [2]:
# const
DATA_DIR = os.path.abspath("../data")

### Loading data

In [6]:
# CONST
data = pd.read_excel(os.path.join(DATA_DIR, "raw", "online_retail_II.xlsx"), sheet_name="Year 2009-2010")
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
data2 = pd.read_excel(os.path.join(DATA_DIR, "raw", "online_retail_II.xlsx"), sheet_name="Year 2010-2011")
data2.head()

#### Statistics

In [ ]:
data.info()